body {
    background-image: url('https://www.jsdelivr.com/img/landing/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    font-family: $font-family;

    @include media-breakpoint-down(lg) {
        background-image: linear-gradient(to bottom, #F86B3E, #FEC84E);

    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}