.btn {
    &-white {
        background-color: var(--white);

        &:hover,
        &:focus {
            background-color: var(--light);
        }

        &[aria-pressed="true"] {
            color: var(--white);
            background-color: var(--orange);
        }
    }
}