.chart {
    &-wrapper {
        position: relative;
        margin-right: -1rem;
        margin-left: -1rem;

        .chartjs-render-monitor {
            width: 100% !important;
            height: 200px !important;
        }
    }
}