.header {
    height: 4rem;

    &-logo {
        margin-right: 4rem;

    }

    .placeholder {
        width: 8rem;
        margin-left: 1rem;

        &:nth-child(2) {
            width: 6rem;
        }

        &:nth-child(3) {
            width: 5rem;
        }

        &:nth-child(4) {
            width: 7rem;
        }
    }
}

.fs-4 {
    font-size: .85rem;
}

.fs-5 {
    font-size: .75rem;
}

.fw-bold {
    font-weight: bold;
}