.pe-none {
    pointer-events: none;
}

.placeholder {
    display: block;
    min-height: 1em;
    background-color: var(--gray);
    opacity: .5;
}

.w-max-content {
    width: max-content;
}

.postscript {
    &:hover,
    &:focus {
        color: var(--black) !important;
    }
}