.search_placeholder {
    height: 624px;
    padding: 4rem 2rem;

    &-img {
        width: 40%;
        height: auto;
    }
}

.badge_placeholder {
    width: 40px;
    height: 18px;
    background-color: var(--light);
}

.chart_placeholder {
    height: 200px;

    &-img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding: 8%;
    }
}