.custom_table {

    &-wrapper {
        overflow: auto;
    }

    width: 100%;

    tr {
        th,
        td {
            &:first-child {
                padding-right: 1rem;
                padding-left: 2rem;
            }

            &:last-child {
                padding-right: 2rem;
                padding-left: 1rem;
            }

            &:not(:first-child, :last-child) {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }

        th {
            height: 4rem;
            border-bottom: 1px solid var(--light);
        }
    }

    tbody {
        tr {
            height: 3.5rem;
            transition: background-color 0.15s ease-in-out;

            &:nth-child(even) {
                background-color: var(--light);
            }

            &:hover,
            &:focus {
                background-color: #ecedee;
            }
        }
    }

    .custom_table-truncate {
        max-width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}