<template>
    <b-modal
        id="package_modal"
        ref="modal"
        :title="data.name"
        hide-footer
    >
        <template v-if="loaded">
        <div class="d-flex align-items-center" v-if="libs[data.name].author">
            <img
                :src="`https://github.com/${libs[data.name].author.name}.png?s=20`"
                width="20"
                height="20"
                decoding="async"
                class="rounded-circle mr-2"
                :alt="libs[data.name].author.name"
                @error="$parent.replaceImgByDefault($event, libs[data.name].author.name)"
            >
            <div class="fs-5 text-secondary">
                {{libs[data.name].author.name}}
            </div>
        </div>
        <p class="mt-2">{{libs[data.name].description}}</p>
        <div class="d-flex align-items-center mt-2 overflow-auto">
            <template v-if="libs[data.name].tags">
                <b-badge
                    v-for="(tag, type, index) in libs[data.name].tags"
                    :key="index"
                    :class="{
                        'ml-1' : index > 0
                    }"
                >
                    {{tag}} {{type}}
                </b-badge>
            </template>
            <template v-else>
                <div
                    v-for="index in 3"
                    :key="index"
                    :class="{
                        'ml-1' : index > 0
                    }"
                    class="badge_placeholder"
                ></div>
            </template>
        </div>
        <b-input-group class="mt-3" v-if="libs[data.name].lib">
            <b-form-input ref="link" :value="`https://cdn.jsdelivr.net/npm/${libs[data.name].name}@${libs[data.name].version}${libs[data.name].lib}`"/>
            <b-input-group-append>
                <b-button @click="copyLink" variant="outline-success">Copy</b-button>
            </b-input-group-append>
        </b-input-group>
        <div class="fs-4 mt-3" v-else>Sadly, this package doesn't have a default file set.</div>
        <div class="d-flex align-items-center mt-3 fs-5" v-if="libs[data.name].downloads">
            <b-icon-file-earmark-arrow-down class="mr-1 ml-auto"/>
            Downloads total: {{Number(libs[data.name].downloads).toLocaleString(undefined)}}
        </div>
        <div class="chart-wrapper mt-2" v-if="libs[data.name].usage" >
            <Chart :data="libs[data.name].usage" />
        </div>
        <div v-else class="chart_placeholder">
            <img class="chart_placeholder-img" width="794" height="565" src="/img/chart_illustration.svg" decoding="async" alt="Chart not loaded">
        </div>
        </template>
        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close</b-button>
    </b-modal>
</template>
<script>
    import {mapGetters, mapActions} from "vuex";

    export default {
        components: {
            'Chart': () => import('~/components/chart')
        },
        props: {
            data: {
                type: Object
            }
        },
        computed: {
            ...mapGetters({
                libs: "libs/list",
            }),
            loaded() {
                return this.libs[this.data.name];
            },
        },
        watch: {
            data: {
                immediate: true,
                deep: true,
                handler(data) {
                    if (data.name && data.name.length && this.libs[data.name] == undefined) {
                        this.fetchLib(data)
                    }
                }
            },
        },
        methods: {
            ...mapActions({
                fetchLib: "libs/fetchLib",
            }),
            copyLink() {
                this.$refs.link.select()
                try {
                    const successful = document.execCommand('copy');
                    const msg = successful ? 'successful' : 'unsuccessful';
                    alert('Link was copied ' + msg);
                } catch (err) {
                    alert('Oops, unable to copy');
                }
            },
            hideModal() {
                this.$refs['modal'].hide()
            },
        }
    }
</script>