<template>
  <div class="app">
    <header class="header bg-white flex-shrink-0">
      <b-container class="d-flex align-items-center h-100">
        <img
          class="header-logo"
          src="https://cdn.jsdelivr.net/www.jsdelivr.com/8e6518b6d69303b120f0c8904f6eff4408b308da/img/logo-horizontal.svg"
          width="140"
          height="34"
          decoding="async"
          alt="JSDelivr logo"
        >
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </b-container>
    </header>
    <b-container class="mt-5 mb-5">
      <div class="poisition-relative d-flex align-items-center">
        <b-icon-search class="position-absolute ml-3 top-3 pe-none"/>
        <b-form-input
          ref="search"
          v-model="query"
          @keyup="search_debounce(query)"
          size="lg"
          placeholder="search all of npm"
          class="pl-5"
        />
        <b-button @click="search_debounce(query)" size="lg" variant="white" class="ml-3">Search</b-button>
      </div>
      <div
        v-if="items.length == 0"
        class="
          search_placeholder
          d-flex align-items-center justify-content-center flex-column
          bg-white rounded mt-5 shadow
        "
      >
        <img
          class="search_placeholder-img"
          src="/img/search_illustration.svg"
          decoding="async"
          width="654"
          height="397"
          alt="Illustration in a flat style. Man looking for files"
        >
        <h1 class="h3 mt-5 text-secondary">Find the world's most popular packages</h1>
        <p class="fs-4 mt-2 text-secondary">Nothing was found for your request. Try to enter a different name.</p>
      </div>
      <div
        v-else
        class="custom_table-wrapper bg-white rounded shadow mt-5"
      >
        <table
          class="custom_table"
        >
          <thead>
            <tr>
              <th class="fs-4">
                Package
              </th>
              <th class="fs-4">
                Ver.
              </th>
              <th class="fs-4">
                Author
              </th>
              <th class="fs-4">
                Links
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in items"
              :key="index"
              role="button"
              :aria-label="item.name"
              @click="current = {
                name: item.name,
                description: item.description,
                author: item.author || undefined,
                version: item.version
              }"
              v-b-modal.package_modal
            >
              <td>
                <div class="fs-4 fw-bold">
                  {{item.name}}
                </div>
                <div class="fs-5 text-secondary custom_table-truncate">
                  {{item.description}}
                </div>
              </td>
              <td>
                <div class="fs-5 text-secondary">
                  {{item.version}}
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center" v-if="item.author">
                  <img
                    :src="`https://github.com/${item.author.name}.png?s=20`"
                    width="20"
                    height="20"
                    decoding="async"
                    class="rounded-circle mr-2"
                    :alt="item.author.name"
                    @error="replaceImgByDefault($event, item.author.name)"
                  >
                  <div class="fs-5 text-secondary">
                    {{item.author.name}}
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <a
                    v-for="(link, key, index) in item.links"
                    v-show="key == 'npm' || key == 'homepage' || key == 'repository'"
                    :key="index + key"
                    :href="link"
                    :title="key"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="text-secondary"
                    :class="{
                      'ml-1' : index > 0
                    }"
                  >
                    <svg v-if="key == 'npm'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0H24V24H0z"/><path fill="currentColor" d="M20 3c.552 0 1 .448 1 1v16c0 .552-.448 1-1 1H4c-.552 0-1-.448-1-1V4c0-.552.448-1 1-1h16zm-3 4H7v10h5V9.5h2.5V17H17V7z"/></svg>
                    <svg v-else-if="key == 'homepage'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M20 20a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9zm-9-7v6h2v-6h-2z"/></svg>
                    <svg v-else-if="key == 'repository'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"/></svg>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <b-button-group
        tag="nav"
        role="navigation"
        class="mt-4 ml-auto mr-auto shadow d-block w-max-content"
      >
        <b-button
          v-for="(btn, index) in pagination"
          :key="index"
          :pressed="btn.state"
          variant="white"
          :to="{path: $route.path, query: { ...$route.query, page: index }}"
          @click="getItems($route.query.search)"
        >
          {{ btn.title }}
        </b-button>
      </b-button-group>
      <p class="postscript fs-5 text-secondary mt-5">
        <b-icon-info-circle class="mr-1"/>
        Обычно компоненты подключаю асинхронно, грузятся только тогда, когда надо. Стили пишу в .sass, и подключаю в компонентах, а не к проекту. Для всего в состоянии загрузики вставляю плейсхолдеры, рассчитываю на разные результаты (пусто, ошибка, мало). Реюзабельные вещи выношу в миксины или в плагины. Нет времени и желания этим заниматься для тестового. Bootstrap не люблю
      </p>
    </b-container>
    <footer class="footer flex-shrink-0 bg-light mt-auto">
      <b-container class="d-flex align-items-center h-100">
        <img
          src="/img/author.jpg"
          alt="Author"
          width="48"
          height="48"
          class="rounded-circle"
        >
        <div class="ml-2">
          <div>
            Alexander Korotkov
          </div>
          <a class="d-flex align-items-center" href="https://github.com/Durasel18" title="Alexander Korotkov (Github)">
            <svg aria-hidden="true" height="16" width="16" viewBox="0 0 16 16" version="1.1" class="mr-1">
              <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
            Durasel18
          </a>
        </div>
        <div class="ml-auto">
          2021
        </div>
      </b-container>
    </footer>
    <Popup
      :data="{
        ...current
      }"
    />
  </div>
</template>

<script>
import Vue from 'vue';
import { BootstrapVue} from 'bootstrap-vue';
import _ from 'lodash';

Vue.use(BootstrapVue)

export default {
  components: {
    'Popup': () => import('~/components/popup')
  },
  head() {
    return {
      title: 'Test project',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Test project for Nethernite'
        }
      ]
    }
  },
  data() {
    return {
      items: [],
      total: 0,
      current: {},
    }
  },
  computed: {
    query: {
      get: function () {
        return this.$route.query.search
      },
      set: function (val) {
        this.$router.push({path: this.$route.path, query: { ...this.$route.query, search: val }})
        return val;
      }
    },
    pagination() {
      const pages = this.total / 10;
      const current = Number(this.$route.query.page || 1);
      const buttons = {};
      buttons[current] = {
        title: current,
        state: true,
      }
      for (let i = 3; i--; i > 0) {
        let page = current - i;
        if (page > 0 && page !== current) {
          buttons[page] = {
            title: page,
            state: false
          }
        }
        page = current + i;
        if (page < pages && page !== current) {
          buttons[page] = {
            title: page,
            state: false
          }
        }
      }
      return buttons;
    }
  },
  methods: {
    replaceImgByDefault(event, name) {
      event.target.src = `https://avatars.dicebear.com/v2/male/${name}.svg`
    },
    search_debounce: _.debounce(function(query) {
      this.$router.push({path: this.$route.path, query: { ...this.$route.query, page: undefined }})
      this.getItems(query)
    }, 50),
    async getItems(query) {
      await this.$axios.$get(`https://registry.npmjs.com/-/v1/search?size=10&from=${(this.$route.query.page - 1 || 0) * 10}&text=${query}`).then((response) => {
        this.total = response.total;
        this.items = response.objects.map(item => {
          return {
            ...item.package
          }
        })
      })
    },
  },
  async fetch() {
    await this.getItems(this.$route.query.search)
  }
}
</script>
